html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    color: #fff;
    background: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
}

a {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

svg:not(:root) {
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.logo {
    width: 150px;
    margin-inline-end: 20px;
}

.logo a {
    display: block;
}

.figure-logo {
    max-width: 150px;
    max-height: 55.1px;
    filter: brightness(0) invert(1);
}

.release-notes {
    font-size: 14px;
    color: #fff;
}

.main {
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;
}

.figure-space {
    max-width: 265px;
    filter: brightness(0) invert(1);
}

.egg {
    fill: #fff;
}

.main-text {
    max-width: 500px;
    margin: 5px auto;
    background: #000;
    padding: 40px;
}

.main-text h1 {
    font-size: 28px;
    color: #fff;
}

.main-text p {
    margin: 20px auto 0;
    color: #fff;
    line-height: 1.8;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10px;
    margin-top: 40px;
}

.option {
    display: block;
    padding: 20px 20px 20px 44px;
    position: relative;
    text-decoration: none;
    background: #000;
    margin: 10px;
}

.option:hover {
    background: #111;
}

.option svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    padding: 5px;
    top: 20px;
    inset-inline-start: 10px;
    position: absolute;
}

.option h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 8px;
}

.option p {
    padding-top: 3px;
    color: #fff;
    font-size: 15px;
}

@media (max-width: 996px) {
    body {
        max-width: 780px;
    }
}

@media (max-width: 767px) {
    .option {
        flex: 0 0 50%;
    }
}

@media (max-width: 599px) {
    .main {
        padding: 20px 0;
    }

    .figure-space {
        max-width: 200px;
    }

    .footer {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 360px) {
    .header-link {
        max-width: 100px;
    }
}
