apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: gateway-service:0.1
          ports:
            - containerPort: 3002
          env:
            - name: HELLO_URL
              value: "http://hello-service:3000/greet"
            - name: WORLD_URL
              value: "http://world-service:3001/name"
          imagePullPolicy: IfNotPresent
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  selector:
    app: gateway
  ports:
    - protocol: TCP
      port: 80 # expose on cluster port 80
      targetPort: 3002
  type: ClusterIP
