apiVersion: apps/v1
kind: Deployment
metadata:
    name: hello-deployment
spec:
    replicas: 1
    selector:
        matchLabels:
            app: hello
    template:
        metadata:
            labels:
                app: hello
        spec:
            containers:
            - name: hello
              image: hello-service:0.1
              ports:
                  - containerPort: 3000
              env:
                  - name: GREETING
                    valueFrom:
                        configMapKeyRef:
                            name: hello-config
                            key: GREETING
              imagePullPolicy: IfNotPresent
---
apiVersion: v1
kind: Service
metadata:
    name: hello-service
spec:
    selector:
        app: hello
    ports:
        - protocol: TCP
          port: 3000
          targetPort: 3000
