apiVersion: apps/v1
kind: Deployment
metadata:
    name: world-deployment
spec:
    replicas: 1
    selector:
        matchLabels:
            app: world
    template:
        metadata:
            labels:
                app: world
        spec:
            containers:
            - name: world
              image: world-service:0.1
              ports:
                  - containerPort: 3001
              imagePullPolicy: IfNotPresent
---
apiVersion: v1
kind: Service
metadata:
    name: world-service
spec:
    selector:
        app: world
    ports:
        - protocol: TCP
          port: 3001
          targetPort: 3001
